<<<<<<< HEAD:app/views/shared/_footer.html.erb
<!-- Footer -->
<p>Managing the EG-353 Research Projects since 2009!</p>
=======
<!-- Footer -->

>>>>>>> 336471e6be257cf55c9afa2a65f928fde34e41fe:app/views/shared/_footer.html.erb
<p>This page uses the <a href="http://matthewjamestaylor.com/blog/perfect-3-column.htm">Perfect 'Holy Grail' 3 Column Liquid Layout</a> by <a href="http://matthewjamestaylor.com">Matthew James Taylor</a>. View more <a href="http://matthewjamestaylor.com/blog/-website-layouts">website layouts</a> and <a href="http://matthewjamestaylor.com/blog/-web-design">web design articles</a>.</p>