<<<<<<< HEAD:app/views/shared/_navigation.html.erb
<!-- Site Navigation -->
<p id="layoutdims">Put some other stuff here: 
	<a href="/controller/action">Other page 1</a> | 
	<a href="/controller/action">Other page 2</a> | 
=======
<!-- Site Navigation -->
<p id="layoutdims">Put some other stuff here: 
	<a href="/controller/action">Other page 1</a> | 
	<a href="/controller/action">Other page 2</a> | 
>>>>>>> 336471e6be257cf55c9afa2a65f928fde34e41fe:app/views/shared/_navigation.html.erb
	<strong>This Page</strong></p>