<!-- Navigation Panel (default tabs) -->
<ul>
	<li><a href="/controller/action" class="active">Nav 1<span>Item 1</span></a></li>
	<li><a href="/controller/action" >Tab 2<span>Item 2</span></a></li>
	<li><a href="/controller/action" >Tab 3<span>Item 3</span></a></li>
	<li><a href="/controller/action" >Tab 4<span>Item 4</span></a></li>
	<li><a href="/controller/action" >Tab 5<span>Item 5</span></a></li>
	<li><a href="/controller/action" >Tab 6<span>Item 6</span></a></li>
</ul>